# ==========================================================
# Enterprise AI Data Analyst
# Requerimientos del proyecto
# Autor: Edgar Arteaga
# ==========================================================

# ==========================================================
# Inteligencia Artificial
# ==========================================================

google-genai
langchain
langgraph
langsmith

# ==========================================================
# Machine Learning
# ==========================================================

scikit-learn
xgboost
lightgbm

# ==========================================================
# Ciencia de Datos
# ==========================================================

numpy
pandas
scipy

# ==========================================================
# RAG
# ==========================================================

faiss-cpu
chromadb
sentence-transformers

# ==========================================================
# Visualización
# ==========================================================

matplotlib
plotly

# ==========================================================
# Dashboard
# ==========================================================

streamlit

# ==========================================================
# API
# ==========================================================

fastapi
uvicorn

# ==========================================================
# Base de Datos
# ==========================================================

sqlalchemy

# ==========================================================
# Variables de Entorno
# ==========================================================

python-dotenv

# ==========================================================
# Lectura de Archivos
# ==========================================================

openpyxl
python-docx
pypdf
pyarrow

# ==========================================================
# Utilidades
# ==========================================================

requests
tqdm